body {
  background-image: url('./../assets/images/galaxy.jpg');
  background-size: cover;
  color: white;
}

.results {
  display: none;
}

.btn {
  margin: 30px 0;
}

label {
  font-size: 25px;
  margin-bottom: 10px;
}

#calculate {
  width: 50%;
}

/* #age, #life-expect {
  width: 30%;
} */
