body {
  background-image: url('./../assets/images/galaxy2.jpg');
  background-size: cover;
  color: white;
}

h1 {
  text-align: center;
  padding: 30px 0 10px 0;
  font-size: 60px;
}

h2 {
  margin: 20px 0 15px 0;
  color: lightblue;
}

.results {
  display: none;
  margin-top: 15px;
}

.btn {
  margin: 30px 0;
}

label {
  font-size: 25px;
  margin-bottom: 10px;
}

#calculate {
  margin-top: 60px;
  width: 75%;
}

p{
  padding: 0;
  margin: 0;
  font-size: 20px;
  line-height: 24px;
}
